#bg{
background-color:lightcyan;
  position:absolute;
}
#title{
  height:24%;
  width:90%;
  background-color:white;
  text-align:center;
  color:seagreen;
  text-shadow:6px 6px #9cc9ba;
  font-size:40px;
  position:relative;
  top:20px;
  left:30px;
  border-radius:10%;
}
#text{
  position:relative;
  background-color:white;
  color:#244238;
  font:sans-serif;
  font-size:28px;
  width:45%;
  margin-left:20px;
  border-radius:10%;
  padding:10px;
}

#m1{
  width:40%;
  display:block;
  margin-top:-360px;
  margin-left:730px;
}

#logo{
  position:relative;
  height:180px;
  width:180px;
  top:-220px;
  left:380px;
}

.link{
  position:relative;
  background-color:white;
  color:#244238;
  font:sans-serif;
  text-align:center;
  font-size:30px;
  width:300px;
  height:50px;
  margin-top:20px;
  border-radius:10%;
  left:20px;
  display:block;
}